
.table-container {
  padding: 20px;

}

.table-container__info {
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.table-container__title > div {
  color: #1ED67D;
  border-bottom: 1px solid #E9E9E9;

}

.table-container__row {
  padding: 20px 0;

}

.table-container__element {
  float: right;
  padding-bottom: 5px;
}

.table-container__pagination {
  padding: 10px;
}

/*searchicon*/
.el-button.is-circle {
  border-radius: 10%;
  padding: 6px;
}

.table-container__row > .el-select {
  margin-top: 5px;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: #1ED67D;
}

.table-container__pagination-color > .el-pagination__sizes .el-input .el-input__inner:hover {
  border-color: #1ED67D !important;
}

.table-container__pagination-color > .el-pagination__sizes .el-input .el-input__inner:focus {
  border-color: #1ED67D !important;
}

.table-container__pagination-color > .el-pager li.active {
  color: #1ED67D;
}

.table-container__pagination-color > .el-pager li:hover {
  color: #1ED67D;
}

.el-input__inner:focus {
  border-color: #1ED67D;
}

.el-select-dropdown__item.selected {
  color: #1ED67D;
}
